<% include ../partials/header %>

<style>
    .bg {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('img/bg-img/about.jpg');
        width: 100%;
        height: 320px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding-top: 100px;
    }
</style>

<section class="bg text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">About BT Real Estate</h1>
                <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="breadcrumb-item active"> About</li>
            </ol>
        </nav>
    </div>
</section>

<section id="about" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>We Search For The Perfect Learn</h1>
                <p class="lead">
                    “The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.” ...
                </p>
                <img src="assets/img/about.jpg" alt="">
                <p class="mt-4">
                    What makes a book good? Can a book be considered good if it is a great story with average writing? How about a well-written book with a less-than-compelling storyline? Do awards matter? What is the criteria you use to gauge whether a book is worth the read? Does a book have to be good to make a difference in someone’s life? Why or why not?
                </p>
                <p class="mt-4">
                    A good book is one that makes the reader feel. It takes the reader on a compelling journey. Calling a book “good” is an opinion that can be applied to any book. I believe that a book can be considered good if it is a great story with average writing. A great story with many struggles and ultimate success can be told even when the writing is average. Some storylines are not compelling, but they are so well written that people will recommend them. The criteria I use to gauge whether a book is worth reading relate to the subject, the genre, and the author. However, I can read outside of these criteria if someone convinces me. For example, The Glass Castle was strongly recommended by a friend even though I was unsure I would like the subject (poverty/alcoholism) or genre (memoir) by an author I had never read (Jeannette Walls). I loved it and recommended it to others. If a book is written well and tells a great story, it has more of a chance of making a difference in people’s lives. However, a book need only be good to the reader to make a difference in his life.
                </p>
          </div>
          <div class="col-md-4">
              <img src="img/img.png" class="img-fluid">
          </div>
        </div>
      </div>
</section>

<!-- Work -->
<section class="bg-dark text-white text-center py-5">
    <h2 class="display-4">We Work For You</h2>
    <h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem velit aperiam, unde aliquid at similique
    </h4>
    <hr>
    <a href="listings.html" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
</section>

<!-- Team -->
<section id="team" class="py-5">
    <div class="container">
        <h2 class="text-center display-4 my-5 pb-2" style="box-shadow: 0px 5px 0px 0px gold;">Our Team</h2>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="img/person_1.jpg" alt="" class="rounded-circle img-fluid mb-3">
                <h4>Kyle Brown</h4>
                <p class="text-success">
                    <i class="fas fa-award text-success mb-3"></i> Realtor
                </p>
                <hr>
                <p>
                    <i class="fas fa-phone"></i> (555)-555-5555
                </p>
                <p>
                    <i class="fas fa-envelope-open"></i> kyle@btrealestate.co
                </p>
            </div>

            <div class="col-md-4">
                <img src="img/person_2.jpg" alt="" class="rounded-circle img-fluid mb-3">
                <h4>Mark Hudson</h4>
                <p class="text-success">
                    <i class="fas fa-award text-success mb-3"></i> Realtor
                </p>
                <hr>
                <p>
                    <i class="fas fa-phone"></i> (444)-444-4444
                </p>
                <p>
                    <i class="fas fa-envelope-open"></i> mark@btrealestate.co
                </p>
            </div>

            <div class="col-md-4">
                <img src="img/person_3.jpg" alt="" class="rounded-circle img-fluid mb-3">
                <h4>Jenny Johnson</h4>
                <p class="text-success">
                    <i class="fas fa-award text-success mb-3"></i> Realtor
                </p>
                <hr>
                <p>
                    <i class="fas fa-phone"></i> (333)-333-3333
                </p>
                <p>
                    <i class="fas fa-envelope-open"></i> jenny@btrealestate.co
                </p>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>