<% include ../partials/header %>

<section class="p-3 pr-4">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-12">
            <ul class="list-group">
                <li class="list-group-item h5 dropdown">
                    <div class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Sort by price</a>
                        <a class="dropdown-item" href="#">Sort by Author</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sort by publication</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <h6>Categories</h6>
                    <ul class="" style="border: 0px;">
                        <li class="list-group-item">link</li>
                        <li class="list-group-item">link</li>
                        <li class="list-group-item">link</li>
                        <li class="list-group-item">link</li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <h6>Categories</h6>
                    <ul class="" style="border: 0px;">
                        <li class="list-group-item">link</li>
                        <li class="list-group-item">link</li>
                        <li class="list-group-item">link</li>
                        <li class="list-group-item">link</li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <h6>Categories</h6>
                    <ul class="" style="border: 0px;">
                        <li class="list-group-item">link</li>
                        <li class="list-group-item">link</li>
                        <li class="list-group-item">link</li>
                        <li class="list-group-item">link</li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <h6>Categories</h6>
                    <ul class="" style="border: 0px;">
                        <li class="list-group-item">link</li>
                        <li class="list-group-item">link</li>
                        <li class="list-group-item">link</li>
                        <li class="list-group-item">link</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-9 col-lg-9 col-12 card">
            <p class="text-muted">
                <a href="/" class="text-muted">Home</a> > 
                <a href="/sell" class="text-muted">Sell</a>
            </p>
            <div class="">
                <h5>Sell Books</h5>
                <div class="">
                    <ul class="nav" role="tablist" style="border-bottom: 1px solid silver">
                        <li class="nav-item">
                            <a class="nav-link">Sort by</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home">Price</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu1">Popularty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2">Particular</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu3">Highly selled</a>
                        </li>
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="home" class="tab-pane active"><br>
                            <div class="row">
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-1.png" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-1.png" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-1.png" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-1.png" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-1.png" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-1.png" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-1.png" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-1.png" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div id="menu1" class="container tab-pane fade"><br>
                            <div class="row">
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-2.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-2.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-2.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-2.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-2.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-2.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-2.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-2.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div id="menu2" class="container tab-pane fade"><br>
                            <div class="row">
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-5.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-5.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-5.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-5.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-5.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-5.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-5.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-5.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div id="menu3" class="container tab-pane fade"><br>
                            <div class="row">
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-4.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-4.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-4.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-4.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-4.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-4.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-4.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3">
                                    <div class="row" style="height: 270px;">
                                        <img class="col-md-6" src="img/cover-4.jpg" style="height: 270px;">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <p>1st sem books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>